@media only screen and (min-width:1440px) {

    .presale_live::before {
        left: 20%;
    }

    .presale_live::after {
        right: 20%;
    }

    .key_feature::before {
        right: 30%;
    }

    .pro_trades::before {
        left: 33%;
        top: 35%;
    }

    .sort_trade::before {
        left: 25%;
    }

    .sort_trade::after {
        right: 25%;
    }

    .platform::before {
        left: 31%;
    }

    .platform::after {
        right: 31%;
    }

    .platform_bg::before {
        left: 31%;
    }

    .platform_bg::after {
        right: 31%;
    }

}


@media only screen and (max-width:1024px) {
    .hero h1 {
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.16px;
        margin-bottom: 10px;
    }

    .hero a {
        font-size: 16px;
    }

    .header_sec {
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.4px;
    }


    .sort_trade h2 {
        font-size: 36px;
        line-height: 130%;
        letter-spacing: -0.4px;
    }

    .timer h3 {
        font-size: 40px;
    }

    .currency .nav {
        gap: 9px;
    }

    /* .timer .progress, .timer .progress-stacked {
        --bs-progress-height: 80px;
    } */

    .sort_trade::before {
        width: 100%;
        overflow: hidden;
    }

    .pro_trades::before {
        width: 100%;
        overflow: hidden;
    }

    .road_map::before {
        width: 100%;
        overflow: hidden;
    }

    .feature_box::before {
        left: 5%;
    }

    .circle::before {
        left: 4.1%;
    }

    .sort_trade_inner::before {
        left: 5%;
    }

    /* .map_header::after {
        width: 66.8%;
        left: 15%
    } */

    .map_header::after {
        width: 69.8%;
        left: 13.6%;
    }

    .footer_form input {
        width: 150px;
    }

    /* Footer Start */
    .footer_form {

        width: 230px;
    }

    .foo_p {
        padding-left: 50px;
    }

    /* Footer End */
}

@media only screen and (max-width:768px) {

    header .nav-link {
        margin-top: 15px;
    }

    .hero {
        padding-top: 40px;
        background-position: right top;
        background-size: contain;
    }

    .key_save {
        flex-direction: column;
        gap: 60px;
        margin-top: 8px;
    }


    .presale_live {
        /* padding-top: 50px; */
        padding-bottom: 50px;
    }

    .table_offer__outer {
        overflow-x: scroll;
    }

    .presale_left_bg {
        height: inherit
    }

    .presale_right_bg {
        height: inherit;
    }


    .presale_left_bg::before {
        width: 100%;
        overflow: hidden;
    }

    .presale_right_bg::after {
        width: 100%;
        overflow: hidden;
    }


    .currency .nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .live_reverse {
        flex-direction: column-reverse;
        position: relative;
        z-index: 99999;
    }

    .wallet {
        font-size: 10px;
        padding: 6px 8px;
    }

    .key_feature {
        padding-bottom: 70px;
    }

    .tsr_inner h3 {
        font-size: 16px;
    }

    .road_map::before {
        width: 100%;
        overflow: hidden;
    }

    .platform_bg::before {
        width: 100%;
        overflow: hidden;
        /* display: none; */
    }


    .presale_live::before {
        width: 100%;
        overflow: hidden;
    }

    .unit h5 {
        font-size: 16px;
    }



    .pro_trades {
        margin-top: 70px;
    }

    .pro_trade_bottom {
        padding-top: 0px;
    }


    .sort_trade {
        background-image: none;
        padding-top: 70px;

    }

    .sort_trade_upper {
        padding-bottom: 50px;
    }

    .platform {
        padding-bottom: 70px;
    }

    .sort_trade_inner::before {
        display: none;
    }

    .circle::before {
        display: none;
    }

    .feature_box::before {
        display: none;
    }

    /* Road Map Start */

    .stage_box {
        flex-direction: column;
        gap: 10px;
        position: relative;
        z-index: 99999;
    }

    .map_header::after {
        display: none;
    }

    .stage {
        position: relative;
    }

    .stage::before {
        position: absolute;
        content: "";
        top: 21.2%;
        left: 24.6%;
        height: 64.3%;
        border-left: 1px solid #0DE85C;
    }

    .stage_inner::before {
        border-radius: 50%;
        top: 52.3%;
        left: -10%;
        width: 10px;
        height: 10px;
    }

    .stage_inner::after {
        top: 50%;
        left: -13%;
        width: 3%;
        border-bottom: 1px solid #0DE85C;
        border-left: none;
    }

    .road_map {
        padding-bottom: 70px;
    }


    /* Road Map End */

    /* Footer Start */
    .foo_mr {
        border-right: 0 !important;
    }

    .foo_p {
        padding-left: 0;
    }

    /* Footer End */

    .terms p {
        font-size: 14px;
        text-align: justify;
    }

    .terms strong {
        font-size: 16px;
    }
}


@media only screen and (max-width:425px) {

    .currency p {
        font-size: 12px;
    }

    .timer p {
        font-size: 14px;
    }

    .currency ul li a {
        font-size: 16px;
        padding: 10px;
    }

    .back_img {
        background-image: none;
    }

    header p {
        font-size: 15px;
    }

    .presale_live_bg::before {
        display: none;
    }

    .platform_inner_bg::before {

        display: none;
    }

    .platform_inner_bg::after {

        display: none;
    }

    .presale_live::after {
        width: 100%;
        overflow: hidden;
    }

    .key_feature::before {
        top: 22%;
        right: 42%;
    }


    .pro_trades::before {
        top: 65%;
    }


    .sort_trade::before {
        left: 10%;
        top: 99%;
    }

    .sort_trade::after {
        top: 90%;
        right: 50%;
    }

    .platform::before {
        width: 100%;
        overflow: hidden;
        left: 43%;
        top: 71%;
    }

    .platform::after {
        right: 50%;
        top: 30%;
    }

    .platform_bg::after {
        right: 50%;
        top: 30%;
        display: none;
    }

    .platform_bg::before {
        display: none;
    }

    .map_header {
        padding-bottom: 0;
    }

    .stage_inner::after {
        display: none;
    }


    .stage::before {
        display: none;
    }

    .stage_inner::before {
        display: none;
    }

    .foo_inner {
        text-align: center;
    }

    .quickLink {
        flex-direction: column;
    }

    .footer_bottom {
        flex-direction: column;
        gap: 10px;
    }

    .key_feature {
        padding-bottom: 70px;
    }

}


@media only screen and (max-width:320px) {
    header p {
        font-size: 12px
    }

    .currency p {
        font-size: 10px;
        padding: 5px;
    }

    .timer p {
        font-size: 12px;
    }
}